<div class="text-center mb-4 d-relative">
    <h1 class="d-abs">
        <a href="{% url 'account:album' user.username %}">
            <i class="icon-arrow-left-circle float-left"></i>
        </a>
    </h1>
    {% if request.session.is_logged_in and request.session.username == user.username %}
        <h1 class="d-abs right">
            <a href="{% url 'gallery:album_edit' album.id %}">
                <i class="icon-note float-right"></i>
            </a>
        </h1>
    {% endif %}
    <h4 class="mb-1 text-primary">
        {{ album.album_title }}
    </h4>
    <p class="mb-0">
        {{ album.album_desc|default:"No album description" }}
    </p>
    <small class="text-muted">Contain {{ photos.count|default:'0' }} photos</small>
</div>

{% if request.session.is_logged_in and request.session.username == user.username %}
    <div class="text-center mb-5">
        <a href="{% url 'gallery:album_photo_create' album.id %}" class="btn btn-primary">Upload Photo</a>
    </div>
{% endif %}

<div class="row mb-5">
    {% if photos %}
        {% for photo in photos %}
            <div class="col-4 mb-4">
                <a href="{% url 'gallery:photo' photo.id %}">
                    <div class="photo-wrapper" style="background: url('{{ MEDIA_URL }}{{ photo.source }}') center center / cover; height: 300px;"></div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="col">
            <p class="text-center">No photo albums are available.</p>
        </div>
    {% endif %}
</div>