<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scenary - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scene/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'scene/css/simple-line-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'scene/css/datepicker3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'scene/css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Scenary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="form-inline mr-auto {% if request.session.is_logged_in %} ml-auto {% endif %}">
                <div class="input-group input-group-sm {% if request.session.is_logged_in %} ml-5 {% else %} ml-4 {% endif %}">
                    <span class="input-group-addon"><i class="icon-magnifier"></i></span>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
            </form>
            {% if request.session.is_logged_in %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="icon-map"></i> Discovery
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" style="line-height: 1">
                            <span class="rounded-circle d-inline-block" style="background: url('{{ MEDIA_URL }}{{ request.session.avatar }}') center center / cover; width: 30px; height: 30px;"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">Main Menu</h6>
                            <a class="dropdown-item" href="{% url 'account:photo' request.session.username %}">
                                <i class="icon-picture"></i> My Photos
                            </a>
                            <a class="dropdown-item" href="{% url 'account:settings' %}">
                                <i class="icon-equalizer"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account:logout' %}">
                                <i class="icon-logout"></i> Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">
                            <i class="icon-login"></i> Sign In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active pl-3 pr-3 ml-2" href="{% url 'account:register' %}">
                            <i class="icon-user"></i> Register
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container mt-5">
    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <hr>

    <footer class="row">
        <div class="col-sm-8 d-sm-block" hidden>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'about' %}">About Us</a></li>
                <li class="list-inline-item"><a href="{% url 'agreement' %}">Agreement</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy</a></li>
            </ul>
        </div>
        <div class="col-sm-4 text-center text-sm-right">
            <p class="text-muted">&copy; Scenary 2017</p>
        </div>
    </footer>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'scene/js/jquery-3.2.1.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{% static 'scene/js/bootstrap.js' %}"></script>
<script src="{% static 'scene/js/bootstrap-datepicker.js' %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>