{% extends "scene/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row mb-5 justify-content-center">
        <div class="col-md-9">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}img/galleries/image 1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title mb-0">Sunset in Boelona</h4>
                    <a href="#" class="card-text small mb-2 d-block">Violet in the sky</a>
                    <p class="card-text mb-1">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        Someday will be better and shining.
                    </p>
                    <p class="card-text small text-muted">Posted at May 2, 2017</p>
                </div>
                <div class="card-footer d-sm-flex">
                    <a href="photos.html" class="d-sm-flex">
                        <span class="rounded-circle d-inline-block mr-3" style="background: url('{{ MEDIA_URL }}img/avatars/angga.jpg') center center / cover; width: 26px; height: 26px;"></span>
                        <span>Angga Ari Wijaya</span>
                    </a>
                    <a href="#" class="ml-auto text-muted">45<i class="icon-heart ml-2 mt-1"></i></a>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}img/galleries/image 2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title mb-0">Sunset in Boelona</h4>
                    <a href="#" class="card-text small mb-2 d-block">Violet in the sky</a>
                    <p class="card-text mb-1">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        Someday will be better and shining.
                    </p>
                    <p class="card-text small text-muted">Posted at May 2, 2017</p>
                </div>
                <div class="card-footer d-sm-flex">
                    <a href="photos.html" class="d-sm-flex">
                        <span class="rounded-circle d-inline-block mr-3" style="background: url('{{ MEDIA_URL }}img/avatars/angga.jpg') center center / cover; width: 26px; height: 26px;"></span>
                        <span>Angga Ari Wijaya</span>
                    </a>
                    <a href="#" class="ml-auto text-muted">45<i class="icon-heart ml-2 mt-1"></i></a>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}img/galleries/image 3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title mb-0">Sunset in Boelona</h4>
                    <a href="#" class="card-text small mb-2 d-block">Violet in the sky</a>
                    <p class="card-text mb-1">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        Someday will be better and shining.
                    </p>
                    <p class="card-text small text-muted">Posted at May 2, 2017</p>
                </div>
                <div class="card-footer d-sm-flex">
                    <a href="photos.html" class="d-sm-flex">
                        <span class="rounded-circle d-inline-block mr-3" style="background: url('{{ MEDIA_URL }}img/avatars/angga.jpg') center center / cover; width: 26px; height: 26px;"></span>
                        <span>Angga Ari Wijaya</span>
                    </a>
                    <a href="#" class="ml-auto text-muted">45<i class="icon-heart ml-2 mt-1"></i></a>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}img/galleries/image 3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title mb-0">Sunset in Boelona</h4>
                    <a href="#" class="card-text small mb-2 d-block">Violet in the sky</a>
                    <p class="card-text mb-1">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        Someday will be better and shining.
                    </p>
                    <p class="card-text small text-muted">Posted at May 2, 2017</p>
                </div>
                <div class="card-footer d-sm-flex">
                    <a href="photos.html" class="d-sm-flex">
                        <span class="rounded-circle d-inline-block mr-3" style="background: url('{{ MEDIA_URL }}img/avatars/angga.jpg') center center / cover; width: 26px; height: 26px;"></span>
                        <span>Angga Ari Wijaya</span>
                    </a>
                    <a href="#" class="ml-auto text-muted">45<i class="icon-heart ml-2 mt-1"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
