{% extends "scene/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row mb-5 justify-content-center">
        <div class="col-md-9">
            {% for photo in photos %}
                {% include 'photo/_photo_card.html' %}
            {% empty %}
                <p>No photos are available.</p>
            {% endfor %}

            {% include 'gallery/_paging.html' %}

            {% include 'photo/_confirm_archive.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'scene/js/app.js' %}"></script>
{% endblock %}