{% extends "scene/base.html" %}

{% block title %}
    {{ photo.album.user.full_name }} - {{ photo.photo_title }}
{% endblock %}

{% block content %}
    <div class="mb-4 d-relative">
        {% if request.session.is_logged_in and request.session.user_id == photo.album.user.id %}
            <h1 class="d-abs right">
                <a href="{% url 'gallery:photo_edit' photo.id %}">
                    <i class="icon-note float-right"></i>
                </a>
            </h1>
        {% endif %}

        <h1 class="float-left mr-3">
            <a href="javascript:void(0)" onclick="window.history.back();">
                <i class="icon-arrow-left-circle float-left"></i>
            </a>
        </h1>
        <h5 class="mb-0">
            {{ photo.album.user.full_name }}
            <small class="text-muted">@{{ photo.album.user.username }}</small>
        </h5>
        <a href="{% url 'account:photo' photo.album.user.username %}">View user profile</a>
    </div>
    <div class="card mb-5">
        <div class="d-relative">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ photo.source }}" alt="{{ photo.photo_title }}">
            {% if not photo.status == 'PUBLISHED' %}
                <span class="badge badge-pill d-abs right badge-primary mr-3 mt-3">
                    {{ photo.status }} PHOTO
                </span>
            {% endif %}
        </div>
        <div class="card-body">
            {% if request.session.is_logged_in and request.session.username == photo.album.user.username %}
                <div class="dropdown mt-1 float-right">
                    <div class="dropdown-menu dropdown-menu-right">
                        <h6 class="dropdown-header">Photo Action</h6>
                        <a class="dropdown-item" href="{% url 'gallery:photo_edit' photo.id %}">
                            <i class="icon-note mr-2"></i> Edit Photo
                        </a>
                        <a class="dropdown-item move-to-archive" data-photo-title="{{ photo.photo_title }}" href="{% url 'gallery:photo_archive' photo.id %}">
                            <i class="icon-notebook mr-2"></i> Move to Archive
                        </a>
                        <a class="dropdown-item" href="{% url 'gallery:photo_delete' photo.id %}">
                            <i class="icon-trash mr-2"></i> Delete
                        </a>
                    </div>
                    <a href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" style="line-height: 1">
                        <i class="icon-options-vertical"></i>
                    </a>
                </div>
            {% endif %}
            <h4 class="card-title mb-1">{{ photo.photo_title }}</h4>
            <a href="{% url 'account:album_photo' photo.album.user.username photo.album.id %}"
               class="card-text small mb-2 d-block">
                {{ photo.album.album_title }}
            </a>
            <p class="card-text">
                {{ photo.photo_desc }}
            </p>
            <p class="card-text" title="{{ photo.taken_at|date:"F d, Y H:i" }}">
                {% load humanize %}
                <small class="text-muted">Taken at {{ photo.taken_at|naturaltime }}</small>
            </p>
            {% for tag in photo.tags.all %}
                <a href="{% url 'gallery:tag' tag.tag_slug %}" class="badge badge-pill badge-light">
                    # {{ tag.tag_title }}
                </a>
            {% endfor %}
        </div>
        <div class="card-footer d-sm-flex">
            <a href="{% url 'account:photo' photo.album.user.username %}" class="d-sm-flex">
                <span class="rounded-circle d-inline-block mr-3"
                      style="background: url('{{ MEDIA_URL }}{{ photo.album.user.avatar }}') center center / cover; width: 26px; height: 26px;"></span>
                <span>{{ photo.album.user.full_name }}</span>
            </a>
            <a href="{% url 'gallery:photo_like' photo.id %}" class="ml-auto text-muted like-photo" data-photo-id="{{ photo.id }}">
                <span class="like-total">{{ photo.likes|intword }}</span>
                <i class="icon-heart ml-2 mt-1"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% if request.session.is_logged_in and request.session.username == photo.album.user.username %}
    {% include 'photo/_confirm_archive.html' %}
{% endif %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'scene/js/app.js' %}"></script>
{% endblock %}