{% extends "scene/base.html" %}

{% block title %}
    {{ photo.album.user.full_name }} - {{ photo.photo_title }}
{% endblock %}

{% block content %}
    <div class="mb-4 d-relative">
        {% if request.session.is_logged_in and request.session.user_id == photo.album.user.id %}
            <h1 class="d-abs right">
                <a href="{% url 'gallery:photo_edit' photo.id %}">
                    <i class="icon-note float-right"></i>
                </a>
            </h1>
        {% endif %}

        <h1 class="float-left mr-3">
            <a href="javascript:void(0)" onclick="window.history.back();">
                <i class="icon-arrow-left-circle float-left"></i>
            </a>
        </h1>
        <h5 class="mb-0">
            {{ photo.album.user.full_name }}
            <small class="text-muted">@{{ photo.album.user.username }}</small>
        </h5>
        <a href="{% url 'account:photo' photo.album.user.username %}">View user profile</a>
    </div>
    {% include 'photo/_photo_card.html' %}
{% endblock %}

{% if request.session.is_logged_in and request.session.username == photo.album.user.username %}
    {% include 'photo/_confirm_archive.html' %}
{% endif %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'scene/js/app.js' %}"></script>
{% endblock %}